:root {
  --primary-color: #0b4b3a;
  --secondary-color: #e7edeb;
  --text-color: #343a40;
  --text-color-2: #fff;
  --text-color-3: #e8c664;
  --lighter-color: #235d4e;
  --darker-color: #0a4434;
  --border-radius: 2rem;
  --shadow: 2px 8px 12px rgba(0, 0, 0, 0.4);
  --main-transition: 1s ease-in-out;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}
/* Breakpoints  */
/* mobile  */
/* @media (max-width: 576px) {
  .container {
    width: 558px;
    display: none;
  }
} */

/* Small */
/* @media (min-width: 768px) {
  .container {
    width: 750px;
  }
} */

/* Medium  */
/* @media (min-width: 992px) {
  .container {
    width: 970px;
  }
} */

/* Large */
/* @media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
} */

body {
  font-family: "Cairo", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #191818;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: var(--text-color);
}
a {
  text-decoration: none;
}
.heading-primary {
  font-size: 5.2rem;
  line-height: 1.3;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 5rem;
}

.subheading {
  display: block;
  font-size: 3.6rem;
  font-weight: 600;
  color: var(--primary-color);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  margin-left: 2rem;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: var(--primary-color);
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: var(--lighter-color);
}

.btn--outline:link,
.btn--outline:visited {
  background-color: var(--lighter-color);
  color: #fff;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: var(--primary-color);
}

.btn--form {
  background-color: var(--lighter-color);
  color: var(--text-color-2);
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: var(--primary-color);
  color: var(--text-color-2);
}

.link:link,
.link:visited {
  display: inline-block;
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: var(--lighter-color);
  border-bottom: 1px solid transparent;
}

/* HELPER/SETTINGS CLASSES */
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

/* start header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
  z-index: 1000;
}

.logo {
  height: 4rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--darker-color);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: var(--darker-color);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--lighter-color);
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  font-size: 3.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}
/* start hero  */

.section-hero {
  background-color: var(--secondary-color);
  padding: 4rem 0 4rem;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}
@media (max-width: 576px) {
  .hero-img-box {
    width: 100%;
  }
  .heading-primary {
    font-size: 4rem;
  }
  .hero-description {
    font-size: 1.6rem;
  }
}
/* end hero  */

/* start statistics */
.statistics {
  padding: 3rem;
}
.statistics .main-title h2 {
  font-size: 3.4rem;
}
.statistics .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
  margin-top: 3rem;
  color: var(--text-color-2);
  padding: 3rem;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  gap: 2rem;
  font-size: 2.5rem;
  font-weight: 500;
  margin: auto;
}
.statistics .container .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: 1s ease-in;
  position: relative;
}
.statistics .container .box::before,
.statistics .container .box::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: var(--text-color-2);
  transition: 1s;
  height: 0;
}
.statistics .container .box::before {
  top: 0;
  right: 0;
}

.statistics .container .box::after {
  left: 0;
  bottom: 0;
}

.statistics .container .box:hover {
  opacity: 1;
}

.statistics .container .box:hover::before,
.statistics .container .box:hover::after {
  height: 100%;
}
/* mobile */

@media (max-width: 450px) {
  .statistics .main-title h2 {
    font-size: 2rem;
  }
  .statistics .container {
    padding: 2rem 1rem;
    width: 100%;
  }
}
/* end statistics */

.section-cta {
  padding: 4.8rem 2rem;
}

.cta {
  display: grid;
  /* 2/3 = 66.6% + 1/3 = 33.3% */
  grid-template-columns: 2fr 1fr;
  /* background-color: var(--primary-color); */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(90deg, #134e5e, #71b280);
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: var(--text-color-2);
}

.cta .heading-secondary {
  /* color: #45260a; */
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: 
  /* linear-gradient(
      to right bottom,
      rgba(171, 189, 244, 0.35),
      rgba(163, 222, 247, 0.35)
    ), */ url("../img/main-page/form.jpg");
  background-size: cover;
  background-position: center;
}
.cta-img-box-paint {
  background-image: 
  /* linear-gradient(
      to right bottom,
      rgba(171, 189, 244, 0.35),
      rgba(163, 222, 247, 0.35)
    ), */ url("../img/paint/paint-form.png");
  background-size: cover;
  background-position: center;
}
.cta-img-box-polish {
  background-image: 
  /* linear-gradient(
      to right bottom,
      rgba(171, 189, 244, 0.35),
      rgba(163, 222, 247, 0.35)
    ), */ url("../img/polish/polish-form.png");
  background-size: cover;
  background-position: center;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: var(--secondary-color);
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #646363;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/* Start Footer */
.footer {
  background-color: var(--primary-color);
  padding: 4rem 2rem;
}

@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
  padding: 20px;
}

.footer .box h3 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
}

.footer .box .social {
  display: flex;
}

@media (max-width: 767px) {
  .footer .box .social {
    justify-content: center;
  }
}

.footer .box .social li {
  margin-right: 10px;
  list-style: none;
}

.footer .box .social li a {
  color: whitesmoke;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  font-size: 2rem;
  text-decoration: none;
  transition: var(--main-transition);
}

.footer .box .text {
  line-height: 2;
  font-size: 1.4rem;
  color: var(--text-color-2);
}

.footer .box .line {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color-2);
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .footer .box .line {
    flex-direction: column;
  }
}

.footer .box .line i {
  font-size: 25px;
  color: var(--text-color-2);
  margin-left: 10px;
}

@media (max-width: 767px) {
  .footer .box .line i {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.footer .box .line .info {
  text-align: center;
  line-height: 1.7;
  font-size: 1.6rem;
}

.footer .map iframe {
  width: 45rem;
  height: 100%;
  border: 1px solid white;
  margin: 2px;
  border-radius: var(--border-radius);
}
.footer .copyright {
  display: block;
  text-align: center;
  margin-top: 2rem;
  color: var(--text-color-2);
  font-size: 2rem;
  direction: rtl;
}

.designer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-content: center;
  background-color: var(--main-color);
  border-top: 1px solid whitesmoke;
  padding-top: 20px;
}

.designer p {
  color: var(--text-color-2);
  margin: 10px;
}

.designer .social-a7med {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: var(--main-transition);
}

.designer .social-a7med i {
  font-size: 25px;
  transition: var(--main-transition);
}

.designer .social-a7med li a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  width: 40px;
  height: 40;
  border-radius: 8px;
  font-size: 20px;
  transition: var(--main-transition);
}

/* End Footer */

/* BELOW 1400px (Smaller desktops) */

@media (max-width: 1400px) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 7rem;
  }
}

/* BELOW 1200px (Landscape Tablets) */

@media (max-width: 1200px) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
  .heading-primary {
    font-size: 6rem;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }
}

/**************************/
/* BELOW 992px (Tablets) */
/**************************/

@media (max-width: 992px) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
  .header {
    flex-direction: row-reverse;
  }
  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }
  .heading-primary {
    font-size: 6rem;
  }
  .hero-description {
    font-size: 3rem;
  }
  .hero-img {
    width: 100%;
  }

  .cta {
    /* 3/5 = 60% + 2/5 = 40% */
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 1.2rem;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/**************************/
/* BELOW 768px (Smaller tablets) */
/**************************/

@media (max-width: 768px) {
  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
  .section-why-us .container {
    grid-template-columns: 1fr;
  }
}

/**************************/
/* BELOW 576px (Phones) */
/**************************/

@media (max-width: 576px) {
  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }

  .section-hero {
    padding: 2.4rem 0 2rem 0;
  }

  .hero {
    padding: 0 3.2rem;
  }

  .hero-img {
    width: 80%;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-text-box {
    padding: 3.2rem;
  }

  .cta-img-box {
    height: 32rem;
    grid-row: 1;
  }
  .section-why-us .container {
    grid-template-columns: 1fr;
  }
}

.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}

@media (max-width: 120rem) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }
}

@media (max-width: 92rem) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
}

/* start section-services */
.section-services {
  padding: 8rem 2rem;
}
.section-services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 3rem;
  margin: 2rem auto;
  justify-content: center;
}

.section-services .container .services-box {
  width: 100%;
  height: 45rem;
  border-radius: 2rem;
  position: relative;
  overflow: hidden;
  box-shadow: var(--shadow);
}
.section-services .container .services-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--main-transition);
}
.section-services .container .services-box:hover img {
  transform: scale(1.3);
}
.section-services .container .services-box .services-info {
  display: none;
  width: 70%;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 1.6rem;
  font-size: 2.4rem;
}
.section-services .container .services-box .services-info h3 {
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  color: var(--text-color-2);
  font-size: 3rem;
  padding: 1.5rem 3rem;
  transform: translate(-50%, -50%);
}
.section-services .container .services-box:hover .services-info {
  display: block;
}
/* end section-services */
/* start why us section */
.section-why-us {
  padding: 8rem 2rem;
  background-color: var(--secondary-color);
}
.section-why-us .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin: 2rem auto;
}
.section-why-us .container .img {
  width: 100%;
  display: flex;
  justify-content: center;
}
.section-why-us .container .img img {
  width: 60%;
  border-radius: 2rem;
}
.section-why-us .container .about-list {
  display: flex;
  align-items: start;
  justify-content: space-around;
  gap: 2rem;
  flex-direction: column;
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--primary-color);
  list-style: none;
}
.section-why-us .container .about-list i {
  margin-left: 2rem;
}
@media (max-width: 576px) {
  .section-why-us {
    padding: 4rem 2rem;
  }
  .section-why-us .container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .section-why-us .container .img img {
    width: 100%;
  }
}
/* end why us section */
/* Star[t Gallery */
.gallery {
  padding: 4rem 2rem;
}
.gallery.carosel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carosel {
  width: 1300px;
  max-width: 100vw;
  height: 70rem;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
}
.list {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  width: max-content;
  transition: 1s;
}
.list img {
  width: 1300px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}
.buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.buttons button {
  width: 50px;
  height: 50px;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  font-size: 2rem;
  font-family: monospace;
  font-weight: bold;
}
.dots {
  position: absolute;
  bottom: 10px;
  color: #fff;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  transition: 1s;
}
.dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 20px;
  border-radius: 20px;
}
.dots li.active {
  width: 30px;
}
@media (max-width: 768px) {
  .carosel {
    height: 400px;
    margin: auto;
  }
}
@media screen and (max-width: 450px) {
  .gallery {
    padding: 1rem;
    margin: auto;
  }
}

/* End Gallery */
/* Start Testimonials */
.testimonials {
  padding: 4rem 2rem;
}

.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
}

.testimonials .box {
  padding: 2rem;
  background-color: whitesmoke;
  border-radius: var(--border-radius);
  position: relative;
}

.testimonials .box:hover {
  box-shadow: var(--shadow);
}

.testimonials .box img {
  position: absolute;
  left: -10px;
  top: -15px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid white;
}

.testimonials .box h3 {
  margin: 0 0 10px;
  color: var(--primary-color);
  font-size: 2rem;
}
.testimonials .box span {
  font-size: 1.3rem;
}
.testimonials .box .title {
  color: var(--primary-color);
  margin-bottom: 10px;
  display: block;
}

.testimonials .box .rate .filled {
  color: #ffc107;
}

.testimonials .box p {
  line-height: 1.5;
  color: var(--primary-color);
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 1.5rem;
}

/* End Testimonials */
/* stat faq */
.faq {
  padding: 3rem 2rem;
  background-color: var(--secondary-color);
}
.working-process .accordion-item {
  border: 1px solid var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  /* padding: 20px; */
  background-color: var(--secondary-color);
  font-size: 2rem;
}

.working-process .accordion-item .accordion-button {
  background-color: var(--secondary-color);
  padding: 2rem 4rem;
  border-bottom: 1px solid var(--primary-color);
  font-size: 2rem;
}

.working-process .accordion-item .accordion-collapse.collapse.show,
.working-process .accordion-item .accordion-collapse.collapse.show {
  background-color: var(--primary-color);
  transition: all 0.2s ease-in-out;
  color: var(--text-color-2);
}

.working-process .accordion-item .accordion-button:not(.collapsed) {
  color: var(--text-color-2);
  transition: all 0.2s ease-in-out;
  background-color: var(--primary-color) !important;
  box-shadow: none;
  color: var(--text-color-2);
}

.working-process .accordion-item .accordion-button:focus {
  box-shadow: none;
}

.working-process .accordion-item .accordion-collapse .accordion-body {
  padding: 2rem 4rem;
  line-height: 1.6;
}

.working-process .accordion-item .accordian-numbers {
  font-size: 2.4rem;
  padding-left: 2rem;
}
/* .accordion-button {
  position: relative;
} */
.accordion-button::after {
  background-image: none;
  font-family: "Font Awesome 7 Free";
  content: "\2b";
  height: 35px;
  width: 35px;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-color);
  color: var(--text-color-2);
  position: absolute;
  left: 2rem;
}

.accordion-button:not(.collapsed)::after {
  background-image: none;
  content: "\f068";
  color: var(--text-color-2);
}

.working-process .accordion-item .collapsing {
  transition: all 0.3s ease-in-out;
}
/* end faq */
/* start contactus */
.contactus {
  /* padding: 2rem; */
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.contactus .cover {
  width: 100%;
}
.contactus .container {
  max-width: 500px;
  height: 100vh;
}
.contactus .profile {
  max-width: 20rem;
  position: absolute;
  top: 20%;
  left: 30%;
  border-radius: var(--border-radius);
  overflow: hidden;
  transform: translate(0%, 0%);
  box-shadow: var(--shadow);
}
@media (max-width: 450px) {
  .contactus .profile {
    top: 17%;
    left: 30%;
  }
  .contactus .contacus-info .heading {
    margin-top: 6rem;
  }
}
.contactus .contacus-info {
  padding: 2rem 2rem;
  margin-top: 6rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contactus .contacus-info .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.contactus .contacus-info .heading img {
  width: 4rem;
}
.contactus .contacus-info .heading h2 {
  font-size: 5rem;
  font-weight: 500;
  color: var(--darker-color);
  margin-bottom: 2rem;
}
.contactus .contacus-info p {
  font-size: 1.7rem;
  line-height: 1.6;
  font-weight: 500;
  color: var(--darker-color);
}
.contactus .container .contactus-link ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  gap: 3rem;
}
.contactus .container .contactus-link a:last-child {
  margin-bottom: 4rem;
}
.contactus .container .contactus-link li {
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  font-size: 3rem;
  background-color: var(--lighter-color);
  width: 90%;
  padding: 2rem 4rem;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: 1s ease-in-out;
  box-shadow: var(--shadow);
}
.contactus .container .contactus-link a:hover li {
  background-color: var(--primary-color);
}
.contactus .container .contactus-link a:hover img {
  transform: scale(1.5);
  transition: var(--main-transition);
}
.contactus .container .contactus-link a {
  color: var(--text-color-2);
  text-decoration: none;
}
.contactus .container .contactus-link ul {
  list-style: none;
}
.contactus .container .contactus-link img {
  width: 5rem;
  margin-left: 3rem;
}
/* end contactus */

/* start protication-page  */
/* start protication */
.section-hero .protication img {
  width: 100%;
}
.protication .container {
  display: flex;
  position: relative;
  bottom: 5rem;
  right: -5rem;
}
.protication .container .protication-text {
  margin: auto;
  height: fit-content;
  text-align: center;
  border-radius: var(--border-radius);
  line-height: 1.7;
  position: absolute;
  bottom: 10rem;
  right: 5rem;
  width: 70%;
}
.protication .container .protication-text h1 {
  width: fit-content;
  color: var(--text-color-2);
  background-color: #0d3a6bb3;
  font-size: 4rem;
  border-radius: var(--border-radius);
  padding: 1rem;
}
/* mobile */

@media (max-width: 450px) {
  .protication .container .protication-text {
    font-size: 1rem;
    line-height: 1.5;
    position: absolute;
    bottom: -5rem;
    right: 5rem;
  }
}
@media (max-width: 768px) {
  .protication .container .protication-text {
    font-size: 1rem;
    line-height: 1.5;
    width: 100%;
    position: absolute;
    top: -2rem;
    left: 3rem;
  }
  .protication .container .protication-text h1 {
    font-size: 2rem;
  }
}
/* end protication */
/* start slider */
.slider {
  padding: 1rem;
  position: relative;
  margin: 4rem auto;
}

.slider-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.slider-text h2 {
  color: var(--primary-color);
  font-size: 24px;
}
.slider-text p {
  color: var(--primary-color);
  font-size: 16px;
  line-height: 1.5;
}

.juxtapose {
  width: 100%;
  margin: 2rem auto;
}
.jx-slider {
  margin-top: 1em;
}
div.juxtapose {
  width: 100%;
}

div.jx-slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  color: #f3f3f3;
}

div.jx-handle {
  position: absolute;
  height: 100%;
  width: 40px;
  cursor: col-resize;
  z-index: 15;
  margin-left: -20px;
}

.vertical div.jx-handle {
  height: 40px;
  width: 100%;
  cursor: row-resize;
  margin-top: -20px;
  margin-left: 0;
}

div.jx-control {
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  width: 3px;
  background-color: currentColor;
}

.vertical div.jx-control {
  height: 3px;
  width: 100%;
  background-color: currentColor;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

div.jx-controller {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 60px;
  width: 9px;
  margin-left: -3px;
  background-color: currentColor;
}

.vertical div.jx-controller {
  height: 9px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  top: -3px;
  position: relative;
}

div.jx-arrow {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 0;
  height: 0;
  transition: all 0.2s ease;
}

.vertical div.jx-arrow {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  transition: all 0.2s ease;
}

div.jx-arrow.jx-left {
  left: 2px;
  border-style: solid;
  border-width: 8px 8px 8px 0;
  border-color: transparent currentColor transparent transparent;
}

div.jx-arrow.jx-right {
  right: 2px;
  border-style: solid;
  border-width: 8px 0 8px 8px;
  border-color: transparent transparent transparent currentColor;
}

.vertical div.jx-arrow.jx-left {
  left: 0px;
  top: 2px;
  border-style: solid;
  border-width: 0px 8px 8px 8px;
  border-color: transparent transparent currentColor transparent;
}

.vertical div.jx-arrow.jx-right {
  right: 0px;
  top: auto;
  bottom: 2px;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: currentColor transparent transparent transparent;
}

div.jx-handle:hover div.jx-arrow.jx-left,
div.jx-handle:active div.jx-arrow.jx-left {
  left: -1px;
}

div.jx-handle:hover div.jx-arrow.jx-right,
div.jx-handle:active div.jx-arrow.jx-right {
  right: -1px;
}

.vertical div.jx-handle:hover div.jx-arrow.jx-left,
.vertical div.jx-handle:active div.jx-arrow.jx-left {
  left: 0px;
  top: 0px;
}

.vertical div.jx-handle:hover div.jx-arrow.jx-right,
.vertical div.jx-handle:active div.jx-arrow.jx-right {
  right: 0px;
  bottom: 0px;
}

div.jx-image {
  position: absolute;
  height: 100%;
  display: inline-block;
  top: 0;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
}

.vertical div.jx-image {
  width: 100%;
  left: 0;
  top: auto;
}

div.jx-image img {
  height: 100%;
  width: auto;
  z-index: 5;
  position: absolute;
  margin-bottom: 0;

  max-height: none;
  max-width: none;
  max-height: initial;
  max-width: initial;
}

.vertical div.jx-image img {
  height: auto;
  width: 100%;
}

div.jx-image.jx-left {
  left: 0;
  background-position: left;
}

div.jx-image.jx-left img {
  left: 0;
}

div.jx-image.jx-right {
  right: 0;
  background-position: right;
}

div.jx-image.jx-right img {
  right: 0;
  bottom: 0;
}

.veritcal div.jx-image.jx-left {
  top: 0;
  background-position: top;
}

.veritcal div.jx-image.jx-left img {
  top: 0;
}

.vertical div.jx-image.jx-right {
  bottom: 0;
  background-position: bottom;
}

.veritcal div.jx-image.jx-right img {
  bottom: 0;
}

div.jx-image div.jx-label {
  font-size: 1em;
  padding: 0.25em 0.75em;
  position: relative;
  display: inline-block;
  top: 0;
  background-color: #000; /* IE 8 */
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  z-index: 10;
  white-space: nowrap;
  line-height: 18px;
  vertical-align: middle;
}

div.jx-image.jx-left div.jx-label {
  float: left;
  left: 0;
}

div.jx-image.jx-right div.jx-label {
  float: right;
  right: 0;
}

.vertical div.jx-image div.jx-label {
  display: table;
  position: absolute;
}

.vertical div.jx-image.jx-right div.jx-label {
  left: 0;
  bottom: 0;
  top: auto;
}

div.jx-credit {
  line-height: 1.1;
  font-size: 0.75em;
}

div.jx-credit em {
  font-weight: bold;
  font-style: normal;
}

/* Animation */

div.jx-image.transition {
  transition: width 0.5s ease;
}

div.jx-handle.transition {
  transition: left 0.5s ease;
}

.vertical div.jx-image.transition {
  transition: height 0.5s ease;
}

.vertical div.jx-handle.transition {
  transition: top 0.5s ease;
}

/* Knight Lab Credit */
a.jx-knightlab {
  background-color: #000; /* IE 8 */
  background-color: rgba(0, 0, 0, 0.25);
  bottom: 0;
  display: table;
  height: 14px;
  line-height: 14px;
  padding: 1px 4px 1px 5px;
  position: absolute;
  right: 0;
  text-decoration: none;
  z-index: 10;
}

a.jx-knightlab div.knightlab-logo {
  display: inline-block;
  background-image: url(../img/favicon_io/favicon-16x16.png);
  vertical-align: middle;
  height: 16px;
  width: 16px;
  top: -1.25px;
  position: relative;
  cursor: pointer;
}

a.jx-knightlab:hover {
  background-color: #000; /* IE 8 */
  background-color: rgba(0, 0, 0, 0.35);
}
a.jx-knightlab:hover div.knightlab-logo {
  background-color: var(--primary-color);
}

a.jx-knightlab span.juxtapose-name {
  display: table-cell;
  margin: 0;
  padding: 0;
  font-weight: 300;
  color: white;
  font-size: 10px;
  padding-left: 0.375em;
  vertical-align: middle;
  line-height: normal;
  text-shadow: none;
}

/* keyboard accessibility */
div.jx-controller:focus,
div.jx-image.jx-left div.jx-label:focus,
div.jx-image.jx-right div.jx-label:focus,
a.jx-knightlab:focus {
  background: #eae34a;
  color: #000;
}
a.jx-knightlab:focus span.juxtapose-name {
  color: #000;
  border: none;
}

/* Medium */
@media (min-width: 992px) {
  .slider.juxtapose {
    width: 970px;
    text-align: center;
    position: relative;
    color: var(--text-color);
    text-shadow: none;
    font-size: 16px;
    margin-bottom: 25px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .slider .juxtapose {
    width: 1170px;
    text-align: center;
    position: relative;
    color: var(--text-color);
    text-shadow: none;
    font-size: 16px;
    margin-bottom: 25px;
  }
}
/* Small */
@media (max-width: 768px) {
  .slider .juxtapose {
    width: 90%;
    text-align: center;
    position: relative;
    color: var(--text-color);
    text-shadow: none;
    font-size: 16px;
    margin-bottom: 25px;
  }
  /* .slider .container .juxtapose img {
    width: 100%;
  } */
}
@media (max-width: 450px) {
  .slider .container .juxtapose {
    width: 100%;
    text-align: center;
    position: relative;
    color: var(--text-color);
    text-shadow: none;
    font-size: 1rem;
    margin-bottom: 25px;
  }
}

/* end slider */

/* start ppf-type */
.tint-type,
.ppf-type {
  padding: 4rem 2rem;
  background-color: #ececec;
}
.tint-type .container,
.ppf-type .container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 3rem;
}
.tint-type .container .box,
.ppf-type .container .box {
  box-shadow: var(--shadow);
  background-color: white;
  border-radius: var(--border-radius);
  overflow: hidden;
  transition: 1s ease-in-out;
}
.tint-type .container .box:hover,
.ppf-type .container .box:hover {
  transform: translateY(-10px);
}
.tint-type .container .box img,
.ppf-type .container .box img {
  width: 100%;
  max-width: 100%;
}
.tint-type .container .box .content,
.ppf-type .container .box .content {
  padding: 2rem;
}
.tint-type .container .box .content h3,
.ppf-type .container .box .content h3 {
  color: var(--primary-color);
}
.tint-type .container .box .content p,
.ppf-type .container .box .content p {
  margin: 10px 0 0;
  line-height: 1.5;
  color: #777;
}
.tint-type .container .box .info,
.ppf-type .container .box .info {
  padding: 2rem;
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.tint-type .container .box .info a,
.ppf-type .container .box .info a {
  color: var(--primary-color);
  font-weight: bold;
}
.tint-type .container .box .info i,
.ppf-type .container .box .info i {
  color: var(--primary-color);
}
.tint-type .container .box:hover .info i,
.ppf-type .container .box:hover .info i {
  animation: moving-arrow 0.6s linear infinite;
}
@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}
/* end ppf-type */
/* Start Features */
.features {
  padding: 3rem;
  position: relative;
  background-color: white;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.features .box {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.features .box .img-holder {
  position: relative;
  overflow: hidden;
}

.features .box .img-holder img {
  max-width: 100%;
  height: 300px;
}

.features .box:hover .img-holder::after {
  border-width: 170px 500px 170px 0;
}

.features .box p {
  line-height: 2;
  font-size: 20px;
  margin: 30px 0;
  padding: 25px;
  color: #3a3838;
}

.features .box h2 {
  position: relative;
  color: var(--primary-color);
  position: relative;
  font-size: 40px;
  margin: auto;
  width: fit-content;
  display: block;
  border: 3px solid transparent;
  width: fit-content;
  margin: 10px auto 30px;
  font-weight: bold;
  font-size: 22px;
  padding: 10px 30px;
  border-radius: 6px;
  transition: var(--main-transition);
}

.features .box h2::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 15px;
  height: 5px;
  width: calc(100% - 30px);
  background-color: var(--primary-color);
}

.features .platinum .img-holder::before {
  background-color: transparent;
}

.features .platinum h2::after {
  background-color: var(--primary-color);
}

.features .platinum h2 {
  color: var(--primary-color);
  border-color: var(--primary-color);
  background: linear-gradient(to right, var(--primary-color) 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .gold .img-holder::before {
  background-color: transparent;
}

.features .gold h2::after {
  background-color: var(--primary-color);
}

.features .gold h2 {
  color: var(--primary-color);
  border-color: var(--primary-color);
  background: linear-gradient(to right, var(--primary-color) 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .silver .img-holder::before {
  background-color: transparent;
}

.features .silver h2::after {
  background-color: var(--primary-color);
}

.features .silver h2 {
  color: var(--primary-color);
  border-color: var(--primary-color);
  background: linear-gradient(to right, var(--primary-color) 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .box:hover h2 {
  background-position: left bottom;
  color: white;
}

/* End Features */

/* Start Pricing */
.pricing {
  padding: 4rem 2rem;
  position: relative;
}

.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3rem;
}

.pricing .box {
  position: relative;
  box-shadow: var(--shadow);
  transition: var(--main-transition);
  background: white;
  text-align: center;
  z-index: 1;
}

.pricing .box::before,
.pricing .box::after {
  content: "";
  width: 0;
  height: 50%;
  background-color: #f6f6f6;
  position: absolute;
  z-index: -1;
  transition: var(--main-transition);
}

.pricing .box::before {
  left: 0;
  top: 0;
}

.pricing .box::after {
  right: 0;
  bottom: 0;
}

.pricing .box:hover::before,
.pricing .box:hover::after {
  width: 100%;
}

@media (min-width: 1200px) {
  .pricing .box.popular {
    top: -20px;
  }
}

.pricing .box.popular .label {
  position: absolute;
  writing-mode: vertical-rl;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  padding: 10px 10px 35px 10px;
  font-size: 18px;
  right: 20px;
  width: 40px;
}

.pricing .box.popular .label::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-color: transparent transparent white;
  border-width: 20px;
}

.pricing .box .title {
  font-weight: bold;
  margin: 30px 0;
  font-size: 25px;
  letter-spacing: -1px;
}

.pricing .box .price {
  margin-bottom: 20px;
}

.pricing .box .amount {
  display: block;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--primary-color);
}

.pricing .box .time {
  color: #777;
}

.pricing .box ul {
  text-align: right;
  list-style: none;
}

.pricing .box ul li {
  padding: 1rem 2rem;
  border-top: 1px solid #eee;
  font-size: 1.4rem;
}

.pricing .box ul li::before {
  font-family: "Font Awesome 7 Free";
  content: "\f00c";
  margin-left: 10px;
  font-weight: 900;
  color: var(--primary-color);
}

.pricing .box a {
  display: block;
  width: fit-content;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  margin: 30px auto 40px;
  padding: 15px 20px;
  border-radius: 6px;
  font-weight: bold;
  transition: var(--main-transition);
}

.pricing .box a:hover {
  background-color: var(--primary-color-alt);
  border-color: var(--primary-color-alt);
  color: white;
}

/* End Pricing */

/* start tint page */

/* start tint number */
.tint-number {
  padding: 6rem 2rem;
  position: relative;
}

.tint-number-container .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 3rem;
}

.tint-number-container .flip {
  position: relative;
  width: 100%;

  > .front,
  > .back {
    display: block;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 0.5s;
    transition-property: transform, opacity;
  }

  > .front {
    transform: rotateY(0deg);
  }

  > .back {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
  }

  &:hover {
    > .front {
      transform: rotateY(180deg);
    }

    > .back {
      opacity: 1;
      transform: rotateY(0deg);
    }
  }
}

.tint-number-container .flip {
  position: relative;
  display: inline-block;
  margin: 2rem auto;
  width: 350px;
  > .front,
  > .back {
    display: block;
    color: white;
    width: inherit;
    background-size: cover !important;
    background-position: center !important;
    height: 220px;
    padding: 20px;
    background: var(--primary-color);
    border-radius: var(--border-radius);
    > h2 {
      font-size: 4rem;
      color: var(--text-color-2);
      text-align: center;
    }
  }
}

/* end tint number */
/* start how-work */
.how-work {
  padding: 4rem 2rem;
  background-color: #f4f6f8;
}
.how-work .container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}
.how-work .container .box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}
.how-work .container .box:nth-child(2) .img {
  order: 2;
}
.how-work .container .box:nth-child(4) .img {
  order: 1;
}
.how-work .container .box:nth-last-child .img {
  order: 0;
}

.how-work .container .box .img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.how-work .container .box img {
  width: 100%;
  border-radius: var(--border-radius);
}
.how-work .container .box .box-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}
.how-work .container .box .box-text h3 {
  font-size: 3.5rem;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 2rem;
}
.how-work .container .box .box-text p {
  font-size: 2rem;
  font-weight: 400;
  color: var(--p-color);
  width: 70%;
  line-height: 1.7;
}

@media (max-width: 450px) {
  .how-work .container .box {
    grid-template-columns: 1fr;
  }
  .how-work .container .box:nth-child(2) .img {
    order: 0;
  }
  .how-work .container .box:nth-child(4) .img {
    order: 0;
  }
  .how-work .container .box .last {
    order: 0;
  }
}
@media (max-width: 575px) {
  .how-work .container .box {
    grid-template-columns: 1fr;
  }
  .how-work .container .box:nth-child(2) .img {
    order: 0;
  }
  .how-work .container .box .last {
    order: 0;
  }
}
/* end how-work */
/* end tint page */
/* start terms page */
/* start items */
.conditions,
.instructions,
.warranty {
  padding: 6rem 3rem;
}
/* mobile */

@media (max-width: 450px) {
  .conditions,
  .instructions,
  .warranty {
    padding: 2rem;
  }
}
.conditions .container ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: var(--primary-color);
  list-style-type: square;
  margin: 2.5rem;
  line-height: 1.8;
}

.conditions .container ul li {
  font-size: 2.4rem;
  margin: 15px 0;
}

.conditions .container ul li span {
  font-weight: bold;
}

.conditions .container ul li .red {
  font-size: 2.4rem;
  color: red;
  font-weight: normal;
}

/* end items */
/* start instructions */
.instructions .container dt {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: var(--primary-color);
  text-decoration: underline;
  margin: 25px;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.8;
}

.instructions .container dl dd {
  font-size: 2.4rem;
  margin: 8px;
  color: var(--primary-color);
  line-height: 1.8;
}

.instructions .container dl dd span {
  font-weight: bold;
}

.instructions .container dl dd .red {
  color: red;
  font-weight: normal;
}

/* end instructions */
/* start warranty */
.warranty .container .body,
.warranty .container .tint {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: var(--primary-color);
  list-style-type: square;
  margin: 25px;
  font-size: 24px;
  line-height: 1.8;
}

.warranty .container h2 {
  color: var(--primary-color);
  font-size: 24px;
  text-decoration: underline;
}

.warranty .container span {
  color: red;
}

/* end  warranty */
/* end terms-page */
